@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>
<h2>Algemene informatie</h2>
<p>Deze website gaat over het thema ‘games’ en richt zich op iedereen die verschillende games speelt en een overzicht 
    wilt bijhouden van de games die hij heeft en de games die hij nog wil kopen. Daarnaast behoren gamers die (zonder een account) 
    een overzicht willen van alle aankomende of al uitgekomen games ook zeker tot de doelgroep. Een bezoeker kan via de site zoeken in de database van games op 
    basis van verschillende filters (platform, releasedatum, naam,….). De bezoeker heeft de mogelijkheid om een account op de website aan te maken. 
    Met een account kan je games toevoegen aan je collectie of wishlist. Daarnaast kan je een aanvraag indienen om games aan de database toe te voegen. 
    Een admin zal deze aanvragen behandelen en besluiten of de games effectief aan de database mogen toegevoegd worden. </p>
<h2>Frequently asked questions</h2>
<ol class="list-group list-group-numbered">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Ik vind een bepaalde game niet op de website</div>
            Neem contact op met de beheerder van de website via r0739214@student.thomasmore.be. Hij zal je aanvraag om de game toe te voegen zo snel mogelijk behandelen.
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Ik ben een fout tegen gekomen op de website.</div>
            Neem contact op met de beheerder van de website via r0739214@student.thomasmore.be. Hij zal dit zo snel mogelijk oplossen.
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Staat je vraag hier niet tussen?</div>
            Neem contact op met de beheerder van de website via r0739214@student.thomasmore.be. Hij zal je vraag zo spoedig mogelijk behandelen.
        </div>
    </li>
</ol>
